.about-us-page {
    padding: 20px;
    padding-top: 140px;
    width: 100%;
    margin: 0 auto;
    background-color: #96c2c9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.about-content {
    margin-top: 50px;
    background-color: white;
    max-width: 1200px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.about-content p {
    color: #555;
    font-size: 1.5rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .about-us-page h1 {
        font-size: 2rem;
    }
    
    .about-content {
        padding: 20px;
    }

    .about-content p {
        font-size: 1rem;
    }
}