.main-content {
    display: flex;
    align-items: flex-end;
    /* 아래쪽에 텍스트 배치 */
    justify-content: center;
    /* 중앙에 텍스트 배치 */
    text-align: center;
    height: 100vh;
}

.search-container {
    position: absolute;
    top: 20%; /* 검색창을 상단에 위치 */
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.button-container {
    position: absolute;
    top: calc(20% + 140px);
    display: flex;
    justify-content: center;
    width: 100%;
}

.custom-button {
    background-color: green;
    color: white;
    font-size: 1.5rem;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: darkgreen;
}

.content-container {
    padding: 20px;
    margin-bottom: 90px;
}

h1 {
    font-size: 4rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.content-container p{
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-top: 30px;
}