.qna-detail-page {
    padding: 20px;
    padding-top: 140px;
    width: 100%;
    margin: 0 auto;
    background-color: #96c2c9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qna-detail-page p {
    margin: 5px 0;
    color: #555;
}

.author-date {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    text-align: right;
    width: 100%;
    max-width: 1200px;
    font-weight: bold;
}

.author-date p {
    margin-top: 30px;
    color: #555;
    font-size: 1.5rem;
}

.qna-content {
    max-width: 1200px;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comments-section {
    max-width: 1200px;
    width: 100%;
    margin-top: 30px;
}

.comments-section h2 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
}

.comment-item {
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reply-button-container {
    text-align: right;
    margin-top: 20px;
}

.reply-button-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.reply-button-container button:hover {
    background-color: #0056b3;
}

.qna-detail-page p, 
.author-date p, 
.qna-content, 
.comments-section h2, 
.comment-item {
    text-shadow: none;
    font-size: 1.5rem;
}