.qna-page {
    padding: 20px;
    padding-top: 140px;
    width: 100%;
    margin: 0 auto;
    background-color: #B3D9E2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qna-list {
    margin-top: 10px;
    width: 100%;
    max-width: 1200px;
}

.qna-item {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    width: 100%;
}

.qna-item h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #007bff;
}

.qna-item p {
    margin: 5px 0;
    color: #555;
}

.qna-page .search-bar {
    margin-top: 50px;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 20px;
}

.qna-page .custom-search {
    display: flex;
    border: none;
    overflow: hidden;
}

.qna-page .search-icon {
    cursor: pointer;
    background-color: white;
    border: none;
    border-left: 2px solid green;
    border-radius: 0 30px 30px 0;
    font-size: 1.5rem;
    padding: 8px 12px;
}

.qna-page .input-group .form-control {
    border: none;
    box-shadow: none;
    font-size: 1.5rem;
}

.qna-page .dropdown-toggle {
    border: none;
    box-shadow: none;
    border-right: 2px solid green;
    border-radius: 30px 0 0 30px;
    font-size: 1.5rem;
    padding: 8px 12px;
}