.search-bar {
    display: flex;
    align-items: center;
    width: 20%;
    background-color: white;
    border: 2px solid green;
    border-radius: 0px;
    padding: -30px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding-left: 15px;
    border-radius: 30px;
}

.search-button {
    background-color: transparent;
    border: none;
    outline: none;
    color: green;
    font-size: 1.5rem;
    padding-right: 15px;
    height: 50px;
    cursor: pointer;
}

.search-button i {
    display: inline-block;
}